.bootstrap .form-horizontal .form-wrapper {
    max-width: 100%!important;
}
.panel.col-lg-12 .panel-heading {
    padding: 10px!important;
}
@media (min-width: 1200px){
    .bootstrap .control-label.col-lg-4 {
        width: 25%!important;
    }
}
#itemnewmethodsadd .prestashop-switch label {
    z-index: 44;
}

#itemnewmethodsadd .prestashop-switch input:last-of-type:checked ~ label:last-of-type {
    z-index: 1;
}
.page-content-layouto-right .panel-footer {
    height: unset!important;
    
}
.page-content-layouto-right .panel-footer button i {
    display: block!important;
}

