.icon-AdminGcustomfieldparent:before{
    content:"\f044";
}
.g_customfields_content_box .form-group.form-error input,.g_customfields_content_box  .form-group.form-error textarea {
    border: 1px solid #f13340;
    color: #f13340;
}
.g_customfields_content_box  .form-group.form-ok input,.g_customfields_content_box  .form-group.form-ok textarea {
    border: 1px solid #46a74e;
    color: #35b33f;
}