.g_customfields_content_box .success_box{
    padding-left: 25px !important;

}
.g_customfields_content_box .alert::before{
    left: 0 !important;
    top: 0 !important;
    height: 100%;
    padding: 10px 0px;
} 
