
.type_action .rule_no_action {
  background: #e08f95 none repeat scroll 0 0;
  border-radius: 3px;
  padding: 3px;
  color:#fff;
}
.range_max {
  float: right;
}
.range_min {
  float: left;
}
.range_custom {
    transform: translateY(4px);
}
.module_error.alert.alert-danger ul {
    padding-left: 15px;
}
.range_custom {
    font-weight: bold;
    position: relative;
    text-align: center;
}
.range_custom input[type="range"] {
    cursor: pointer;
    margin: 0;
    opacity: 0;
    padding: 0;
}
.range_custom .range_new {
    top: 0;
}
body .ets_sc_content_tabs .tab_content  > .panel-heading {
    background: transparent!important;
    border: none!important;
}

body .ets_sc_content_tabs .panel-heading {
    border-bottom: 1px solid #ddd!important;
    font-size: 20px!important;
}
.form-group.template.template2 p.help-block > span{
    cursor: pointer;
}
th.priority, td.priority,
th.active,td.active{
    text-align: center;
}
th.id_ets_sc_shipping_rule, td.id_ets_sc_shipping_rule {
    width: 60px;
    text-align: center;
}
.dropdown-menu a.btn.btn-default {
    width: 100%;
    display: block;
    box-shadow: none!important;
    outline: none!important;
    padding: 10px 15px;
}
.ets_condition_popup .popup_content.table {
    max-width: 1170px;
}
.text-right {
    text-align: right;
}
.bootstrap .help-block {
    margin-top: 0;
}
.form-group + .help-block {
    margin-top: -15px!important;
}
.range_new {
    background: #eee none repeat scroll 0 0;
    border-radius: 20px;
    height: 12px;
    pointer-events: none;
    position: absolute;
    text-align: left;
    top: 5px;
    width: 100%;
}
.module_error.alert.alert-danger ul {
    padding-left: 15px;
}
body .bootstrap label.control-label {
    font-size: 13px;
}
#ets_sc_action_rule_form_submit_btn[name="save_action_rule"] i.process-icon-save:before,
#ets_sc_rule_form_submit_btn[name="save_rule"] i.process-icon-save:before{
    content: "\f0a9";
}
.range_custom span.input-group-unit {
    font-weight: bold;
    margin-top: 0;
    min-width: 16px;
    position: absolute;
    bottom: 100%;
    transform: translateX(-100%);
    margin-bottom: 3px;
}
.range_new {
  pointer-events: none;
  text-align: left;
}
body #content.bootstrap .panel-heading .panel-heading-action>a.btn,
body .panel-heading a.btn.add_new_link,
body .panel-heading a.btn.btn-new-promote,
body .panel-heading a.btn-new-condition{
    position: relative;
}
body .panel-heading a.btn.add_new_link,
body .panel-heading a.btn.btn-new-promote,
body .panel-heading a.btn-new-condition,
html :is(body:not(.no-smb-reskin)) .bootstrap a.btn-default:focus:not(:hover){
    background: #25b9d7!important;
    color: #fff!important;
    border-color: #25b9d7!important;
}
html :is(body:not(.no-smb-reskin)) .bootstrap a.btn-default:hover,
html :is(body:not(.no-smb-reskin)) .bootstrap a.btn-default:focus,
html :is(body:not(.no-smb-reskin)) .table tbody .btn-group-action .btn-group>.btn:hover{
    background: #1a8196!important;
    color: #fff!important;
    border-color: #1a8196!important;
}
html :is(body:not(.no-smb-reskin)) .bootstrap a.btn-default.loading,
a.btn.btn-default.loading {
    position: relative!important;
}
.range_custom {
    font-weight: bold;
    text-align: center;
    margin-top: 8px;
    position: relative;
    margin-right: 20px;
    max-width: 500px;
}
th.priority > label {
    width: 60px;
}
.list-rule .priority {
    text-align: center;
}
#content.bootstrap h3:not(.modal-title) .panel-heading-action,
#content.bootstrap .panel-heading .panel-heading-action {
    position: absolute;
    top: 2px;
    line-height: 0;
    right: 0;
}
.range_custom span.range_suffixs {
    position: absolute;
    left: 100%;
    top: 0;
    margin-left: 5px;
    line-height: 1;
}
.prm_products::before{
    display: none!important;
}
h2.adv_title {
    font-size: 16px;
    font-family: 'Open Sans';
    font-weight: 600;
}
.btn-new-condition svg, .btn-new-promote svg, .add_new_link svg {
    width: 12px;
    height: 12px;
    vertical-align: middle;
    fill: currentColor;
}
h2.title_advanced_settings {
    background: #fafafa;
    font-size: 16px;
    padding: 12px 15px;
    margin-left: -15px;
    margin-right: -15px;
    font-family: 'OPEN SANS';
    font-weight: 600;
    padding-left: calc(25% + 25px);
    margin-bottom: 20px;
}
span.range_new_run {
  background: rgba(0, 0, 0, 0) linear-gradient(#70e6ff, #2fb5d2) repeat scroll 0 0;
  border-radius: 20px;
  height: 100%;
  min-width: 16px;
  position: absolute;
  width: 100px;
}
.mce-tinymce iframe {
    min-height: 100px;
}
.growl.growl-notice, html :is(body:not(.no-smb-reskin)) .growl.growl-notice {
    color: #fff;
    background: rgba(114,194,121,.8);
}
.bootstrap .panel .panel-footer .btn.pull-right.loading,
.bootstrap .panel .panel-footer .btn.pull-right.loading:focus {
    background: #00aff0!important;
    color: transparent!important;
    border-color: #00aff0!important;
}
span.range_new_button {
  background: #2fb5d2 none repeat scroll 0 0;
  border: 2px solid #fafafa;
  border-radius: 50%;
  box-shadow: 0 0 2px 0 #666;
  cursor: pointer;
  height: 16px;
  position: absolute;
  right: 0;
  top: -2px;
  width: 16px;
}
.configuration.list-rule .position_display ul li:before {
    content: "-";
    margin-right: 6px;
}
.configuration.list-rule .position_display ul li {
    padding-left: 10px!important;
}
td .status_no {
    background: #ddd;
    padding: 2px 5px;
    border-radius: 3px;
    color: #999;
    text-shadow: 0 1px 2px #eee;
}
td .status_yes {
    background: #03c400;
    padding: 2px 5px;
    border-radius: 3px;
    color: #ffffff;
    text-shadow: 0 1px 2px #eee;
}
ul.pl_10 {
    padding-left: 10px!important;
}
textarea.textarea-autosize {
  min-height: 60px!important;
}
tr.no-record.not_items_found td p {
    margin: 0;
}
tr.no-record.not_items_found td {
    height: 50px;
    text-align: center;
}
.ets_sc_tabs .tab.active {
    color: #25b9d7;
}
.ets_sc_content_tabs .tab_content{
    display:none;
}
.ets_sc_content_tabs .tab_content.active{
    display:block;
}
.rule_tab > a {
  color: #3c3c3c;
    text-decoration: none!important;
}
ul.ets_sc_tabs {
    padding: 0;
    margin: 0;
    list-style: none;
    background: #fff;
    margin-top: -16px;
    margin-left: -14px;
    margin-right: -10px;
    margin-bottom: 20px;
    position: sticky;
    top: 125px;
    z-index: 2000;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
}
body #header_infos {
    z-index: 50300;
}
.list-order-products {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
}
.list-order-products a {
    display: inline-block;
    margin: 2px;
}
.mce-container, .mce-container *, .mce-widget, .mce-widget *{
    white-space: normal!important;
}
.filter.row_hover fieldset.form-group {
    display: inline-block;
}
.filter.row_hover input.filter {
    width: 100%!important;
}
.filter.row_hover th.id_ets_sc_rule input.filter {
    max-width: 40px;
}
th.from_date, th.to_date, th.active, th.code_prefix {
    width: 9%;
}
#content.bootstrap #dash_version .panel-heading,
#content.bootstrap .message-item-initial .message-item-initial-body .panel-heading,
#content.bootstrap .panel .panel-heading,
#content.bootstrap .timeline .timeline-item .timeline-caption .timeline-panel .panel-heading {
    font-family: 'Open Sans';
    min-height: 45px;
    display: flex;
    font-size: 14px;
    align-items: center;
}
.total_amount, .total_amount .title_box,
.new_customer, .new_customer .title_box,
.total_order, .total_order .title_box,
.list-rule_report .active, .list-rule_report .active .title_box{
    text-align: center!important;
}

.bootstrap .table>tbody>tr.active>th,
.bootstrap .table>tfoot>tr.active>th,
.bootstrap .table>thead>tr.active>th,
.bootstrap .table>tbody>tr:not(.filter)>th.active,
.bootstrap .table>tfoot>tr:not(.filter)>th.active,
.bootstrap .table>thead>tr:not(.filter)>th.active {
    background-color: inherit;
}
.bootstrap .table>thead>tr>td.active,
.bootstrap .table>tfoot>tr>td.active,
.bootstrap .table>thead>tr.active>td,
.bootstrap .table>tbody>tr.active>td,
.bootstrap .table>tbody>tr>td.active,
.bootstrap .table>tfoot>tr.active>td{
    background-color: inherit;
}
.bootstrap .table>thead>tr:hover>td.active,
.bootstrap .table>tfoot>tr:hover>td.active,
.bootstrap .table>thead>tr.active:hover>td,
.bootstrap .table>tbody>tr.active:hover>td,
.bootstrap .table>tbody>tr:hover>td.active,
.bootstrap .table>tfoot>tr.active:hover>td{
    background-color: #f4f8fb!important;
}
.row.ets_sc_rule_report-row {
    border: 1px solid #ddd;
    background: #fff;
    margin: 0;
    position: relative;
}

.row.ets_sc_rule_report-row h3.session-header,
.row.ets_sc_rule_report-row h3.card-header {
    margin: 0 0 20px!important;
    padding: 8px 15px!important;
    height: auto!important;
    font-family: 'OPEN SANS';
    font-weight: 600;
    font-size: 14px!important;
}

.row.ets_sc_rule_report-row .session-body .row {
    margin: 0;
}

.row.ets_sc_rule_report-row .session-body .card-body {
    padding: 0 20px 20px;
}

.row.ets_sc_rule_report-row .session-body th {
    font-weight: 600;
    padding: 12px 10px;
}

.row.ets_sc_rule_report-row .session-body td {
    padding: 12px 10px;
}

.row.ets_sc_rule_report-row .session-body .card-body li {
    line-height: 1.7;
    padding: 5px 0;
}

.row.ets_sc_rule_report-row .session-body .card-body ul {
    padding-left: 20px;
}
body .bootstrap .dropdown-menu>li a {
    border: none;
    text-align: left;
    border-radius: 0!important;
}
span.ets-mp-text-bg-light-gray {
    background: #eee;
    padding: 8px 15px;
    border-radius: 2px;
    display: inline-block;
}

body .bootstrap .dropdown-menu {
    padding: 0;
}
ul.ets_sc_tabs li.tab {
    padding: 0;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    color: #656565;
}
ul.ets_sc_tabs li.tab a {
    padding: 18px 20px;
    display: block;
}
ul.ets_sc_tabs li.tab:not(.active):hover {
    background:rgb(241,247,253);
}
.ets_sc_tabs .tab a {
    color: inherit;
    text-decoration: none!important;
}
.ets_sc_tabs img {
    margin-right: 6px;
}

.ets_rule_tabs_left li.rule_tab span{
    position: relative;
    padding: 10px 10px 10px 90px;
    min-height: 55px;
    display: flex;
    align-items: center;
    float: left;
}
.ets_rule_tabs_left li.rule_tab:before {
    width: 26px;
    height: 26px;
    background: #ddd;
    content: attr(data-step);
    position: absolute;
    left: 50px;
    border-radius: 50%;
    z-index: 1;
    top: 50%;
    color: #999;
    margin-top: -13px;
    text-align: center;
    line-height: 26px;
    font-size: 12px;
    font-weight: 600;
}
.ets_rule_tabs_left li.rule_tab:first-child:before {
    left: 20px;
}
.ets_rule_tabs_left li.rule_tab:first-child span{
    padding-left: 60px;
}
li.rule_tab {
    position: relative;
    display: flex;
    float: left;
    align-items: center;
}
.ets_rule_tabs_left li.rule_tab:after {
    content: "";
    border-right: 2px solid #eee;
    border-top: 2px solid #eee;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50px;
    pointer-events: none;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    right: -18px;
    z-index: 1;
}
.ets_rule_tabs_left li.rule_tab.active:after {
    background: #25b9d7;
}
ul.ets_rule_tabs_left {
    list-style: none;
    background: #fff;
    padding: 0;
    margin-right: 15px;
    margin-left: 15px;
    border: 1px solid #d3d8db;
    border-radius: 6px;
    margin-bottom: 25px;
    overflow: hidden;
}
.tab_content > .panel-heading {
    margin: -10px 0 10px!important;
    background: transparent!important;
    padding-left: 15px!important;
    font-weight: 600;
    border-bottom: none!important;
}
i.process-icon-large {
    font-size: 24px;
    display: block;
    height: 30px;
}
.btn.icon-circle-arrow-right.process-icon-large .process-icon-save:before {
    content: "\F0A9"!important;
}
.btn.icon-circle-arrow-right.process-icon-large:before{
    display: none!important;
}
.form-group .form-group .row {
    margin-left: 0;
    margin-right: 0;
}
select#way_to_promote.fixed-width-xl {
    width: auto!important;
    min-width: 200px;
}
select[multiple="multiple"] {
    min-height: 250px;
}
.ets_rule_tabs_left li.rule_tab span {
    position: relative;
    z-index: 2;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
}
.ets_rule_tabs_left li.rule_tab.active {
    background: #25b9d7;
    color: #ffffff;
}
ul.ets_rule_tabs_left + form {
    width: 100%;
    margin-left: 0;
    padding: 0 15px;
}
body [class^=process-icon-] {
    font-size: 24px;
}
.rule_tab.active > a {
    color: #ffffff;
}
.tab_content.discount_rule > .panel-heading {
    font-size: 14px !important;
    font-weight: 600;
    height: auto !important;
    margin: 0 15px 15px !important;
    padding: 0 !important;
    background: transparent!important;
    border: none!important;
}
.no-data td {
    height: 60px;
    text-align: center;
}
.ets_rule_tabs_left li.black_to_list {
    font-weight: normal;
    text-transform: none;
    font-size: 13px;
    float:right;
    align-items: center;
    display: flex;
    min-height: 55px;
    padding: 10px 10px 10px 90px;
    position: relative;
}
a.btn-advanced-settings {
    font-size: 15px;
}
a.btn-hide-advanced-settings {
    font-size: 14px;
}
a.btn-advanced-settings,
.btn-hide-advanced-settings{
    font-size: 15px;
    color: #00aff0;
    fill: #00aff0;
}
a.btn-advanced-settings:hover,
.btn-hide-advanced-settings:hover{
    color: #0077a4;
    fill:  #0077a4
}
#block-form-popup-condition .module_error.alert.alert-danger {
    position: fixed;
    top: 40px;
    right: 40px;
    min-width: 350px;
}
.lh_16 {
    height: 16px;
    line-height: 16px;
    vertical-align: middle;
    align-items: center;
    display: inline-block;
}
.module_error.alert.alert-danger {
    position: fixed;
    top: 60px;
    right: 60px;
    z-index: 1000;
    min-width: 400px;
}

table.table.configuration.list-rule ul:not(.dropdown-menu) {

    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

table.table.configuration.list-rule ul li img {
    width: 50px;
    float: left;
    margin-right: 10px;
}

table.table.configuration.list-rule ul li {
    clear: both;
    padding: 5px 0;
    width: 100%;
}

table.table.configuration.list-rule ul li .name {
    font-weight: 600;
}

table.table.configuration.list-rule ul li .price {
    color: #444444;
    margin-top: 5px;
}
@keyframes loading_spc {
    0% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
    }
}

@-webkit-keyframes loading_spc {
    0% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
    }
}

.btn.btn-default.loading i{
    position: relative;
}
.btn.btn-default.loading i:before{
    opacity: 0;
}
.bootstrap .help-block {
    width: 100%;
    clear: both;
    display: block;
    padding-top: 5px;
    margin-bottom: 0;
}
.way_to_promote .col-lg-9 {
    flex-wrap: wrap;
}
.row.ets_sc_rule_report-row .session-body .card-body span.title {
    width: 250px;
    text-align: right;
    display: inline-block;
    padding: 0 15px;
}

.btn.btn-default.loading:after,
.btn[name="etsprSubmitUpdateToken"].loading:after,
#ets_sc_condition_rule_form_submit_btn.loading:after{
    content: "";
    position: absolute;
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
    border-left: 1px solid transparent !important;
    border-right: 1px solid transparent !important;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    left: 50%;
    margin-left: -10px;
    margin-top: -10px;
    top: 50%;
    animation: loading_spc 0.5s infinite linear;
    -webkit-animation: loading_spc 0.5s infinite linear;
}
button.btn.btn-default.loading[name="etsprSubmitUpdateToken"],
#ets_sc_condition_rule_form_submit_btn.loading,
.btn.btn-default.loading{
    position: relative;
    color: rgba(255,255,255,0.1);
    background-color: #00aff0;
    border-color: #008abd;
}
.btn[name="etsprSubmitUpdateToken"].loading:hover:after,
#ets_sc_condition_rule_form_submit_btn.loading:after,
.btn.btn-default.loading:after{
    border-color: #fff;
}
.add-to-cart-gift-product{
    outline: none!important;
    text-decoration: none!important;
    box-shadow: none!important;
}
.btn.btn-default.loading:hover i:after{
    border-top-color: #fff;
    border-bottom-color: #fff;
}
body.loading:before {
    content: "";
    background: rgba(0,0,0,0.7);
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 11110;
}

body.loading:after {
    content: "";
    position: fixed;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    border-left: 2px solid transparent !important;
    border-right: 2px solid transparent !important;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    z-index: 11111;
    left: 50%;
    margin-left: -25px;
    margin-top: -25px;
    top: 50%;
    animation: loading_spc 0.5s infinite linear;
    -webkit-animation: loading_spc 0.5s infinite linear;
}
.tab_content.discount_rule.active .form-wrapper.form-rule{
    display: flex;
    display: -webkit-flex;
    align-items: flex-start;
    -webkit-align-items: flex-start;
    flex-wrap: wrap;
}
.panel-heading .black_to_list {
  float: right;
}
.ets_rule_tabs_left ~ .panel {
    margin-left: 15px;
    margin-right: 15px;
}
button.btn {
    outline: none!important;
    box-shadow: none!important;
}
.ets_rule_tabs_left li.rule_tab.active:before {
    background: #ffffff;
    color: #25b9d7;
}
.ets_sc_row_code .input-group-addon{
    cursor: pointer;
}
.uploaded_img_wrapper img {
    margin-top: 8px;
    margin-bottom: 8px;
}
.dummyfile.input-group ~ .uploaded_image_label {
    width: 100%;
    text-align: left!important;
    padding-left: 0;
}
.dummyfile.input-group ~ .col-lg-9.uploaded_img_wrapper {
    padding-left: 0;
}
.ets_condition_popup {
    position: fixed!important;
    top: 0;
    left: 0;
    width: 100%;
    bottom: 0;
    background-color: rgba(0,0,0,0.8);
    opacity: 0;
    visibility: hidden;
    font-weight: 500;
    z-index: 1000;
}
select {
    cursor: pointer!important;
}
.popup_content_wrap {
    position: relative;
    background: #fff;
    border-radius: 5px;
}
.ets_condition_popup.show {
    opacity: 1;
    visibility: visible;
    z-index: 80000;
}
.ets_sc_row_delivery_zipcode .input-group {
    width: 100%;
}
.popup_content.table {
    margin: 0 auto;
    width: 90%;
    display: table;
    max-width: 1170px;
    border-radius: 5px;
    min-height: 100%;
    border: none;
    background: transparent!important;
}
.popup_content_tablecell {
    display: table-cell;
    vertical-align: middle;
}
.popup_content_wrap .form-wrapper {
    max-width: 100%!important;
    max-height: calc(100vh - 240px);
    overflow-y: auto;
    overflow-x: hidden;
    padding-left: 20px!important;
    padding-right: 20px!important;
}
.popup_content_wrap .panel-heading, :is(body:not(.no-smb-reskin)) .popup_content_wrap .panel-heading {
    border-bottom: 1px solid #ddd!important;
}
.popup_content_wrap .form-wrapper::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

.popup_content_wrap .form-wrapper::-webkit-scrollbar {
    width: 4px;
    background-color: #F5F5F5;
    border-radius: 6px;
}

.popup_content_wrap .form-wrapper::-webkit-scrollbar-thumb {
    background-color: #999999;
}
.popup_content_wrap .panel {
    background-color: #fff;
    border: 1px solid #d3d8db;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 20px;
    position: relative;
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.tab_content.discount_rule .panel.ets_sc-panel {
    width: 100%;
}
.panel.ets_sc-panel .label-tooltip {
    font-size: 0;
}
.filter.row_hover label {
    font-weight: normal;
}
.filter.row_hover fieldset.form-group {
    margin: 2px;
}
#block-form-popup-codition #fieldset_0.panel > .panel-heading {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: currentcolor currentcolor #eee;
  border-image: none;
  border-style: none none solid;
  border-width: medium medium 1px;
  font-size: 16px !important;
  height: auto;
  line-height: 2.2em;
  margin-bottom: 15px;
  margin-left: -20px !important;
  margin-right: -16px;
  margin-top: -20px;
  min-height: 55px;
  padding-bottom: 0;
  padding-left: 20px !important;
  padding-right: 0;
  padding-top: 12px !important;
  text-transform: uppercase;
}
.popup_content_wrap .close_popup {
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  font-size: 0;
  font-weight: normal;
  height: 16px;
  line-height: 20px;
  opacity: 1;
  position: absolute;
  right: 15px;
  text-align: center;
  top: 10px;
  transform: rotate(45deg);
  width: 16px;
  z-index: 1;
}
.popup_content_wrap .close_popup::after {
  background-color: #555;
  content: "";
  height: 2px;
  left: 1px;
  position: absolute;
  top: 50%;
  width: 100%;
}
.popup_content_wrap .close_popup::before {
  background-color: #555;
  content: "";
  height: 100%;
  left: 50%;
  position: absolute;
  top: 1px;
  width: 2px;
}
#ui-datepicker-div{
    z-index: 10000000!important;
}
.sc_results {
    z-index: 999999;
    background: #fff;
    border: 1px solid #ddd;
}
.sc_customers li,
.sc_products li {
  list-style-type: none;
}
.sc_results ul {
    padding: 0;
    list-style: none;
    margin: 0;
}
.sc_results ul li span {
    padding: 12px 15px;
    display: block;
    cursor: pointer;
    box-sizing: border-box;
}
.sc_results.product_result ul li span{
    min-height: 57px;
}
ul.sc_customers {
    list-style: none;
    padding: 0;
    margin-top: 5px;
    max-width: 450px;
}
ul.sc_customers li.sc_customer_item {
    border: 1px solid #ddd;
    padding: 10px 12px;
    margin: 2px 0;
    position: relative;
    border-radius: 3px;
}
ul.sc_customers li.sc_customer_item .sc_block_item_close {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    cursor: pointer;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 34px;
}
.sc_results ul li span img {
    width: 30px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 6px;
    float: left;
}
.sc_products {
    padding: 0;
    list-style: none;
    margin-top: 3px!important;
    display: block;
    clear: both;
}
.sc_products li.sc_product_item a.product_img_link {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    color: #333;
    text-decoration: none!important;
    cursor: pointer;
}
.sc_products li.sc_product_item img.sc_product_image {
    width: 35px;
    display: inline-block;
    margin-right: 8px;
}
.sc_products li.sc_product_item .sc_block_item_close {
    position: absolute;
    right: 0;
    width: 30px;
    height: 30px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    text-align: center;
    line-height: 34px;
    cursor: pointer;
}
.sc_products li.sc_product_item {
    position: relative;
    border: 1px solid #ddd;
    padding: 3px;
    border-radius: 3px;
}
.sc_products li.sc_product_item:not(:first-child) {
    margin-top: 4px;
}

.wapper-advanced-settings{
    display:none;
}
.wapper-advanced-settings.active{
    display:block;
}
table.table.configuration.list-rule th.quantity, table.table.configuration.list-rule td.quantity {
    width: 100px;
    text-align: center;
}
table.table.configuration.list-rule tr:not(.filter.row_hover) td.active {
    text-align: center;
}
table.table.configuration.list-rule tr:not(.filter.row_hover) th.active, table.table.configuration.list-rule tr:not(.filter.row_hover):not(:hover) td.active {
    background: #fff;
    text-align: center;
}
.sc_search_customer_form .input-group {
    width: 450px;
}
select#type_action {
    width: 100%!important;
}
.confirm.alert.alert-success {
    position: fixed;
    top: 60px;
    right: 60px;
    z-index: 11111;
    min-width: 300px;
}
select#parent_codition {
    width: auto!important;
    max-width: 100%;
}
.sc_search_customer_form input,
.sc_search_product_form,
.form-group.generate_discount_code.automation input,
.form-group.parent_codition.order_from_customer > .col-lg-9 > .input-group,
.ets_sc_row_postcode input{
    max-width: 450px;
}
a.btn.btn-default.link_edit_condition.loading i::after {
    width: 12px;
    height: 12px;
    margin-left: -6px;
    margin-top: -6px;
}
.form-group.parent_codition.customer_personal > .col-lg-9 > .row,
.form-group.parent_codition.order_from_customer > .col-lg-9 > .row,
.form-group.parent_codition.cart_amount > .col-lg-9 > .row,
.form-group.generate_discount_code.generate .input-group,
.ets_rule_tab_content.rule_tab_content_information.ets_sc_row_from_date .col-lg-9 > .row,
.form-group.parent_codition.customer_membership  > .col-lg-9 > .row {
    width: 450px;
    max-width: 100%;
}
.w_100 {
    width: 100px;
    max-width: 100px;
}
.ets_sc_row_code .input-group-addon:hover {
    background: #2eacce;
    color: #ffffff;
    border-color: #2eacce;
}
ul.ets_rule_tabs_configs {
    list-style: none;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
}
ul.ets_rule_tabs_configs li.rule_tab {
    padding: 14px 15px;
    border-left: 1px solid #e8ebec;
    position: relative;
    cursor: pointer;
    font-size: 13px;
}
button.btn.btn-default.loading[name="etsprSubmitClearLog"] i:after {
    width: 12px;
    height: 12px;
    top: 9px;
    left: 6px;
}
.ets_rule_tabs_configs li.rule_tab.active {
    color: #00aff2;
    background: #fff;
}
input#ETS_sc_CRONJOB_TOKEN {
    width: 200px;
    margin-right: 5px;
    display: inline-block;
    vertical-align: middle;
}
textarea.cronjob_log {
    max-width: 550px;
    min-height: 150px;
}
.form-group.form-group-cronjob label.control-label {
    display: block;
}
.emp-cronjob.ets_sc_form.configuration .form-group.form-group-cronjob {
    margin-top: 10px;
}

.form-group.form-group-cronjob label.control-label {
    display: inline-block;
    width: 100%;
    vertical-align: top;
    min-width: 200px;
    text-align: left!important;
    padding-left: 0;
    padding-right: 15px;
}
.form-group.form-group-cronjob label.control-label + div {
    max-width: calc(100% - 200px);
}
.ets_rule_tabs_configs li.rule_tab.active:before {
    background: #00aff2;
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 3px;
}
.emp-block .alert.alert-info {
    max-width: 550px;
}
a.btn.js-emp-test-cronjob.loading {
    position: relative;
}
.bootstrap .table tbody>tr:hover>td {
    background: #f4f8fb!important;
}
a.btn.js-emp-test-cronjob.loading i {
    position: static;
}

a.btn.js-emp-test-cronjob.loading {
    color: transparent!important;
}
.text-center {
    text-align: center;
}
a.btn.js-emp-test-cronjob.loading i:after {
    width: 14px;
    height: 14px;
    top: 50%;
    margin-top: -7px;
    left: 50%;
    transform: translate3d(-50%,-50%,0);
}
input.btn {
    outline: none!important;
    box-shadow: none!important;
}
.ets-mp-text-strong {
    font-weight: 600;
}
.mb-15 {
    margin-bottom: 15px!important;
}
.ets_rule_tab_content.rule_tab_content_cronjob {
    font-size: 13px;
    line-height: 1.7;
}
.list-order-products img {
    width: 50px;
}
a.btn.btn-default.back_to_list {
    margin-left: 20px;
    margin-bottom: 20px;
}

.ets_sc_paggination {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.ets_sc_paggination .limit.results > div {
  float: left;
  padding-left: 10px;
}
.ets_sc_paggination .limit.results > label {
  color: #666 !important;
  float: left;
  font-weight: 500;
  margin-bottom: 0;
  padding-top: 5px;
}
.ets_sc_rule_report-row ul li{
    list-style-type: none;
}
.bootstrap code, .help-block .code {
    cursor: pointer!important;
    border: 1px dashed #ff1282;
    padding: 3px 5px;
    color: #ff1282;
    font-style: normal;
    font-family: 'Open Sans';
    position: relative;
    min-height: 26px;
    background: #ffe9f0!important;
    line-height: 26px;
    margin-right: 5px;
    font-size: 12px;
	font-style: italic;
}
span.copied_text {
    position: absolute;
    z-index: 1;
    background: #00cf00;
    padding: 5px 8px;
    line-height: 1;
    border-radius: 10px;
    font-size: 11px;
    color: #fff;
    margin-top: 0px;
    top: 0;
    -webkit-animation-name: copirun;
    -webkit-animation-duration: 1s;
    animation-name: copirun;
    animation-duration: 1s;
}

@keyframes copirun {
    0% {
        opacity: 0;
        right: -30px;
        visibility: visible;
    }
    70% {
        opacity: 1;
    }
    100% {
        opacity: 1;
        right: 10px;
        visibility: visible;
    }
}

@-webkit-keyframes copirun {

    0% {
        opacity: 0;
        right: -30px;
        visibility: visible;
    }
    70% {
        opacity: 1;
    }
    100% {
        opacity: 1;
        right: 10px;
        visibility: visible;
    }
}
span.pr-text-copy {
    position: absolute;
    background: #00c600;
    z-index: 1;
    color: #ffffff;
    padding: 4px 5px;
    border-radius: 3px;
    font-size: 10px;
    margin-left: -5px;
    line-height: 1;
    margin-top: 4px;
    left: 100%;
    animation: rtleft 0.2s infinite linear;
    -webkit-animation: rtleft 0.2s infinite linear;
    animation-iteration-count: 1;
    -webkit-animation-iteration-count: 1;
}
@keyframes rtleft {
    0% {
        margin-left: 15px;
    }
    100% {
        margin-left: -5px;
    }
}
@-webkit-keyframes rtleft {
    0% {
        margin-left: 15px;
    }
    100% {
        margin-left: -5px;
    }
}
.list-order-products a:hover{
    text-decoration: none;
}
.btn.btn-default.loading i {
    opacity: 0;
}
.sc-text-copy {
    background: #25b9d7;
    padding: 2px 6px;
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    color: #fff;
    font-style: normal;
    border-radius: 2px;
    margin-bottom: 3px;
}
.product_in_cart .input-group {
    width: 100%;
}
.form-group input.color {
    min-width: 80px;
    padding-left: 10px!important;
    padding-right: 10px!important;
}
li.prm_products {
    display: flex;
    display: -webkit-flex;
    align-items: center;
}
.prm_products img {
    width: 40px;
    margin-right: 10px;
}
li.prm_products:not(:last-child) {
    margin-bottom: 8px;
}
button.btn.loading {
    color: transparent!important;
}
button.btn.loading i{
    opacity: 0!important;
}
#list-shipping_rule ul:not(.dropdown-menu) {
    list-style: none;
    margin-top: 8px;
}
.list_carriers li:before {
    content: "-";
    margin-right: 3px;
}
.prm_products .price {
    font-weight: 600;
}



