.ets_sc_display_notification {
    margin-top: 20px;
}
.ets_sc_close::before {
  background: #666666 none repeat scroll 0 0;
  content: "";
  height: 2px;
  left: 3px;
  position: absolute;
  top: 21px;
  width: 22px;
}
.ets_sc_close::after {
  background: #666666 none repeat scroll 0 0;
  content: "";
  height: 22px;
  left: 13px;
  position: absolute;
  top: 11px;
  width: 2px;
}
.ets_sc_highlight_bar_wrapper {
    font-size: 13px;
}
.ets_sc_gift_products .cart-gift-container {
    margin-top: 20px;
}
.ets_sc_gift_products .product-line-grid-right.product-line-actions {
    text-align: right;
}
.ets_sc_gift_products .product-line-grid-right.product-line-actions .row {
    margin: 0;
}
.ets_sc_display_highlight_bar .ets_sc_table {
    height: 100%;
    width: 100%;
}
.ets_sc_tablecell {
    vertical-align: middle;
    display: table-cell;
}
.ets_sc_table {
    display: table;
}
@keyframes loading {
    0% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
    }
}

@-webkit-keyframes loading {
    0% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
    }
}
.add-to-cart-gift-product.loading i{
    position: relative;
    color: transparent!important;
}
.add-to-cart-gift-product.loading i:before{
    opacity: 0;
}
.add-to-cart-gift-product.loading i:after {
    content: "";
    position: absolute;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
    border-left: 1px solid transparent !important;
    border-right: 1px solid transparent !important;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    left: 50%;
    margin-left: -10px;
    margin-top: -10px;
    top: 50%;
    animation: loading 0.5s infinite linear;
    -webkit-animation: loading 0.5s infinite linear;
}
.ets_sc_gift_products h2.h2 {
    text-transform: none;
}
.add-to-cart-gift-product{
    outline: none!important;
    text-decoration: none!important;
    box-shadow: none!important;
}
.ets_sc_display_highlight_bar .ets_sc_close::after,
.ets_sc_display_highlight_bar .ets_sc_close::before {
    background: #ffffff;
}


.ets_sc_close {
  cursor: pointer;
  font-size: 0;
  height: 44px;
  position: absolute;
  right: 20px;
  top: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  width: 28px;
  z-index: 100;
}
.ets_sc_display_highlight_bar {
  background-color: #009d1d;
  border-color: #ffffff;
  border-radius: 0;
  border-style: solid;
  border-width: 0;
  color: #ffffff;
  margin: 0 auto;
  padding: 10px;
    max-width: 100%;
  display:none;
    position: relative;
}
.ets_sc_display_highlight_bar.show{
    display: block;
}
.ets_sc_popup_wrapper > .ets_sc_popup_content:first-child {
    padding-top: 40px;
    padding-bottom: 40px;
}
.alert.alert-info {
    display: block;
    clear: both;
}
.product-add-to-cart .ets_sc_display_notification {
    margin-top: 0;
    margin-left: 10px;
}
.panel-discount-countdown.ets_sc_rule_countdown_to_date {
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    -webkit-justify-content: center;
}
.ets_sc_display_popup {
  background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0;
  bottom: 0;
  display: none;
  left: 0;
  opacity: 0;
  overflow: auto;
  position: fixed;
  top: 0;
  visibility: hidden;
  width: 100%;
  z-index: 10000;
}
.ets_sc_display_popup.show{
    display: block;
    opacity: 1;
    visibility: visible;
    animation: fadeIn .5s infinite linear;
    -webkit-animation: fadeIn .5s infinite linear;
    animation-iteration-count: 1;
}
 .ets_sc_display_popup.show .ets_sc_container{
     animation: zoomIn .5s infinite linear;
     -webkit-animation: zoomIn .5s infinite linear;
     animation-iteration-count: 1;
 }
.ets_sc_display_popup .ets_sc_container {
    background-color: #fff;
    border-color: #ffffff;
    border-radius: 10px;
    border-style: solid;
    border-width: 0;
    overflow: hidden;
    position: relative;
    margin: 30px 0;
}
.ets_sc_display_notification {
    text-align: left;
}
.ets_sc_display_banner img {
    max-width: 100%;
}

.ets_sc_display_banner {
    margin-bottom: 30px;
    text-align: left;
    margin-top: 30px;
}
.ets_sc_display_popup .ets_sc_table {
    display: table;
    width: 90%;
    max-width: 600px;
    margin: 0 auto;
    height: 100vh;
}

.ets_sc_tablecell {
    display: table-cell;
    vertical-align: middle;
}

.ets_sc_display_popup .ets_sc_popup_title {
    padding: 15px 20px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 0px;
    font-weight: bold;
    font-size: 18px;
}

.ets_sc_display_popup .ets_sc_popup_content {
    padding: 20px;
}
.ets_sc_rule_countdown_to_date .countdown-item {
    display: inline-block;
    text-align: center;
    padding: 0 10px;
    min-width: 50px;
    position: relative;
}
.ets_sc_rule_countdown_to_date .countdown-item .countdown-time {
    font-size: 22px;
    display: block;
    line-height: 1;
    margin-bottom: 5px;
}
.ets_sc_rule_countdown_to_date .countdown-item:not(:last-child) .countdown-time:before {
    content: ":";
    position: absolute;
    right: -2px;
    top: 0px;
    font-size: 18px;
}
.ets_sc_rule_countdown_to_date .countdown-item:first-child {
    padding-left: 0;
}
.ets_sc_highlight_bar_wrapper .ets_sc_rule_countdown_to_date .countdown-item .countdown-time {
    font-size: 18px;
    margin-bottom: 0px;
}
.ets_sc_highlight_bar_wrapper .ets_sc_rule_countdown_to_date .countdown-item .countdown-text {
    font-size: 10px;
}
.ets_sc_display_highlight_bar .ets_sc_tablecell {
    height: 30px;
}
.ets_sc_highlight_bar_wrapper .panel-discount-countdown.ets_sc_rule_countdown_to_date {
    position: absolute;
    right: 60px;
    top: 7px;
}
.ets_sc_display_highlight_bar .container {
    width: 100%;
    max-width: 100%;
    padding-left: 50px;
    text-align: left;
}
.ets_sc_display_popup .panel-discount-countdown.ets_sc_rule_countdown_to_date {
    display: unset;
    vertical-align: middle;
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


@keyframes zoomIn {
    0% {
        transform: scale(0.5);
    }
    100% {
        transform: scale(1);
    }
}

@-webkit-keyframes zoomIn {
    0% {
        transform: scale(0.5);
    }
    100% {
        transform: scale(1);
    }
}
@media (max-width: 1199px){
    .ets_sc_display_highlight_bar .container {
        padding-left: 15px;
    }
}
@media (max-width: 991px){
    .ets_sc_highlight_bar_wrapper .panel-discount-countdown.ets_sc_rule_countdown_to_date {
        position: static;
    }
    .ets_sc_display_highlight_bar .container {
        padding-left: 40px;
        text-align: center;
        padding-right: 40px;
    }
}


