{if isset($show_title) && $show_title} <h1 class="page-subheading">{if isset($title_form) && $title_form !=''}{$title_form}{/if}</h1> {/if} <div id="g_customfields_content_box_1" class="g_customfields_content_box g_customfields_form_type_2"><input type="hidden" name="id_g_customrequest" value="{$id_g_customrequest|intval}"/><input type="hidden" class="actionUrl" value="{$actionUrl}"/><input type="hidden" name="usingajax" value="1"/> {if isset($id_customer)} <input type="hidden" name="id_customer" value="{$id_customer|intval}"/> {/if}
            {if isset($id_cart)} <input type="hidden" name="id_cart" value="{$id_cart|intval}"/> {/if}
            {if isset($id_order)} <input type="hidden" name="id_order" value="{$id_order|intval}"/> {/if} <input type="hidden" name="idform" value="1"/><input type="hidden" name="id_lang" value="3"/><input type="hidden" name="id_shop" value="1"/><input type="hidden" name="typeform" value="2"/><input type="hidden" name="gSubmitForm" value="1"/><div class="g_customfields_content row"><div class="formbuilder_group col-md-12 col-sm-12 col-xs-12"><div class="itemfield_wp row"><div class="itemfield col-xs-12 col-sm-12 col-md-12" title="" id="g_customfields_1"><div class="form-group input_box"><div class="row"><div class="col-xs-12 col-md-4"><label for="dni">Input</label></div><div class="col-xs-12 col-md-8">{if $is_backend != '1' && isset($id_g_customrequest) && $id_g_customrequest > 0 && (!isset($usercanedit) || $usercanedit["dni"] != '1')}
                    <p>{if isset($formval) && isset($formval['dni'])}{$formval['dni']|escape:'html':'UTF-8'}{/if}</p>{* $name is html content, no need to escape*}
                {else}
                
        	    <input type="text" data-validate="isInt" class="form-control  gcfvalidate input_1706905642 " id="dni" placeholder="" name="dni" value="{if isset($formval) && isset($formval['dni'])}{$formval['dni']|escape:'html':'UTF-8'}{/if}"/> {/if}</div></div></div></div></div></div> {if isset($id_module_customfields) && $id_module_customfields > 0} <div class="g_customfields_content_gdpr">{hook h='displayGDPRConsent' id_module=$id_module_customfields}</div> {/if}</div></div>
{if isset($formajax) && $formajax}<script type="text/javascript">
    reBuildForm();</script>
{/if}